
.quiz-card {
    border: 1px solid #ddd;
    padding: 10px; 
    border-radius: 6px; 
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 5px; 
}


.slider-container {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.slider-card {
    max-height: 9rem;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.slick-arrow::before {
    color: #2228da !important;
}

.slick-list {
    width: 100%;
}

.slider-card-date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 12px;
}


.high-score{
    color: #0fb414;
}

.medium-score {
    color: #dcbb21;
}

.low-score {
    color: #ff3737;
}

.card-active {
    border: 2px solid #12af90;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.empty-quizz {
    font-size: 24px;
}

.slick-disabled {
    display: none !important;
}

.card-content {
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.card-filename {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.quiz-score {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.copy-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 7px;
    width: 100%;
}
