.role-selection-container {
  width: 100%;
}
.role-selection-container button {
  width: 50%;
  background-color: #fff;
  border-color: #272e3f;
}

.role-selection-container button.selected {
  background-color: #0f172a;
  border-color: #272e3f;
  color: #fff;
}

.std-btn {
  border-top-left-radius: .375rem;
  border-bottom-left-radius: .375rem;
  border-right: none;
}

.tch-btn {
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
  border-left: none;
}

.choose-role-btn {
  padding: .375rem .875rem;
  font-size: 1rem;
  font-weight: var(--x-btn-font-weight);
  line-height: 1.625;
  cursor: pointer;
  border: 1px solid #0f172a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.lng-btn {
  padding: .375rem .875rem;
  font-size: 1rem;
  font-weight: var(--x-btn-font-weight);
  line-height: 1.625;
  cursor: pointer;
  border: 1px solid #0f172a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}