.container {
    height: 100%;
}

.h3 {
    font-family: 'Satoshi' ,sans-serif;
    font-size: 1.375rem;
    margin: 0;
}

.ls-tight {
    letter-spacing: -.025em;
}

.text-muted {
    color: var(--muted-text-color);
    font-size: .875rem;
    margin-top: .75rem;
}

.fw-semibold {
    font-weight: 500;
}

.w-50 {
    width: 50% !important;
}